**/node_modules/
build/*
tofu/.terraform/
*.tfvars
*tfstate*
.env
cmd/ak0/ak0
!ak0/
dev.log
examples.nix
result
web/vite.config.js.timestamp-*
prompt
prompt.txt
scripts/blogger/blogger
scripts/htmlbuilder/htmlbuilder
*.crt
*.key
*.csr
*.srl
