**/node_modules/
*.crt
*.key
*.csr
*.srl
*kubeconfgs/
*.kubeconfig
*.tfvars
*tfstate*
!ak0/
.terraform/
.env
build/*
cmd/ak0/ak0
dev.log
examples.nix
infrastructure/vendor/crio/bin/crio
kube-api-server.conf
prompt
prompt.txt
result
scripts/blogger/blogger
scripts/htmlbuilder/htmlbuilder
web/vite.config.js.timestamp-*
worker-node-0.conf
worker-node-1.conf
