**/node_modules/
**dist/
build/*
.env
cmd/ak0/ak0
!ak0/
dev.log
examples.nix
configs/certs/*
result
web/vite.config.js.timestamp-*
prompt
prompt.txt
scripts/blogger/blogger
scripts/htmlbuilder/htmlbuilder
