.blogpost {
  margin: 0rem 3rem;
  width: 75%;
  max-width: 60rem;
}

.blogpost h3 {
  color: green;
  font: bold;
}

.blogpost pre {
  margin: .5rem;
  padding: 1rem;
  background: var(--code-bg);
  border: 1px solid #32a1ce;
  border-radius: 8px;
  overflow-x: auto;
}

